# Obsidian workspace (machine-specific)
.obsidian/workspace.json
.obsidian/workspace.sync-conflict-*.json

# Obsidian library (don't track b/c John's images)
Library/

# Obsidian Note for some scarce folders with files that are only here
Obsidian\ Note/
